* {
  margin: 0;
  padding: 0;
}

/*Bakgrunns-gradient og overflow: hidden gor Ã¥ fjerne side-scroll*/
body {
  margin: 0;
  height: 200vh;
  background: linear-gradient(180deg, #1aede6 0%, #248ec8 50%, #064c62 100%);
  overflow-x: hidden;
}

/*Slik at det ikke blir hard overgang hvis man trykker pÃ¥ Aquatic knappen*/
html {
  scroll-behavior: smooth; /* den vil plutselig ikke funke??*/
}

/*Eirik - header*/
header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: whitesmoke;
  /*border-bottom: 5px solid rgba(0, 0, 0, 0.62);*/
  z-index: 99;
}

/*Nav bar, med sticky-funksjon slik at den fÃ¸lger med nedover siden*/
nav {
  position: sticky;
  top: 0%;
  z-index: 5;
}

/*Uordnet liste, denne gir plassering og farge til headeren*/
ul {
  width: 100%;
  display: flex;
  justify-content: right;
  box-sizing: border-box;
  padding: 10px;
  background: whitesmoke;
}

li {
  margin-top: 1%;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  margin-right: 2%;
  padding: 5px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #240090; /* hva gjør denne?*/
}

/*Animasjon til nav-linkene på høyre side*/
.nav-links a {
  transition: all 0.3s ease 0s;
}

#Aquatic a {
  color: #5ab9ea;
}

.nav-links #Aquatic a:hover {
  color: #ff9c6d;
  text-decoration: underline 2px solid #ff9c6d; /* de funker ikke helt*/
}

#Terrestrial a {
  color: #61892f;
}

.nav-links #Terrestrial a:hover {
  color: #ff9c6d;
  text-decoration: underline 2px solid #ff9c6d; /* de funker ikke helt*/
}

#logo {
  padding: 5px;
  margin: 5px;
}

.icon {
  height: 40px;
  width: 60px;
  padding: 5px;
  margin-right: auto;
  border-radius: 40px;
  transition: box-shadow 0.3s;
}

/*Animasjon til hjemknappen*/
.icon:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.99);
}

/*Lager mellomrommet mellom nav-linkene og hjemknappen*/
.buttons {
  justify-content: space-between;
  justify-content: right;
}

/* selve boksen med border og alt, width og height osv mÃ¥ samsvare med bildet sin width og height*/
#divImageShark {
  position: relative;
  top: 5%;
  left: 60%;
  color: black;
  width: 250px;
  transform: translateX(50%) translateY(50%);
  border-radius: 8px;
  padding: 5px;
}

#divImageGreatBarrierReef {
  position: absolute;
  top: 100%;
  left: 60%;
  color: black;
  width: 250px;
  transform: translateX(50%) translateY(50%);
  border-radius: 8px;
  padding: 5px;
}

/* Great barrier reef bilde til tekdtboks*/
.greatBarrierReefImage {
  display: block;
  width: 250px;
  border-radius: 3%; /* runder av hjÃ¸rnene pÃ¥ bildet */
  justify-content: center;
  align-content: center;
}

/*Hai bilde til tekstboks*/
.sharkImage {
  display: block;
  width: 250px;
  border-radius: 3%; /* runder av hjÃ¸rnene pÃ¥ bildet */
  justify-content: center;
  align-content: center;
}

/* tekst og boksen som dukker opp nÃ¥r man hÃ¥vvrer */
.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* bilde fÃ¥r bittelitt sort i seg*/
  color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column; /* teksten og tittelen blir satt i en kolonne*/
  align-items: center;
  justify-content: center;
  opacity: 0; /* bilde blir transparent */
  transition: opacity 0.25s;
}

.imageOverlay {
  transform: translateY(30px); /* tekst-boksen beveger seg nedenfra (Y) og opp*/
  transition: transform 0.8s;
}
.imageOverlay:hover {
  opacity: 1;
}
.imageOverlay:hover {
  transform: translateY(0);
}

#imageSharkTitle {
  font-size: 2em;
  font-weight: bold;
}

#greatBarrierReefTitle {
  font-size: 1.7em;
  font-weight: bold;
}

.imageDescription {
  font-size: 0.7em;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: bold;
}

/*lille sirkelen med i'en */
.infoDivClipped {
  clip-path: circle(10% at 90% 50%);
  width: 250px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.infoDivClipped:hover {
  clip-path: circle(80%); /* formen når den utfolder seg */
}

.i {
  color: rgba(9, 9, 9, 0.868);
  font-weight: bold;
  font-size: large;
  float: right; /*i'en havner til hÃ¸yre*/
  margin-right: 10%;
  margin-top: -40%;
  margin-bottom: 0%;
  position: relative;
}

#i:hover span {
  visibility: hidden;
}

/*Irma - Hai plassering og animasjon*/
/*Hai gif*/
#sharkGif {
  position: absolute;
  left: 0%;
  animation-name: swimming-shark;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  top: 59%; /* haien starter 30% fra toppen*/
  bottom: 0%;
  z-index: 25; /*Sjekk om z-index er riktig*/
}

/*Hai gif svømme-animasjon*/
@keyframes swimming-shark {
  from {
    left: 1500px; /* haien svÃ¸mmer fra hÃ¸yre til venstre, derfor starter den pÃ¥ 1500px, sÃ¥nn at den ikke er synlig nÃ¥r animasjonen starter */
  }
  to {
    left: -800px; /* den ender utenfor skjermen, derfor negativ 800 px*/
  }
}

/*
  Mizgin - Skilpadde animasjon
  Frida - justering av plassering
  */
/*Skilpadde*/
.seaTurtle {
  position: absolute;
  height: 250px;
  left: 20%;
  top: 130%;
  bottom: 0;
  animation-name: swim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/*Skilpadde svømme-animasjon*/
@keyframes swim {
  0% {
    right: -500px;
  }
  100% {
    left: 685px;
  }
}

/*
  Mizgin - sjø¸stjerne og sjø¸gress animasjon
  Frida - justering av plassering
  */
/*Sjø¸stjerne*/
.starFish {
  position: absolute;
  height: 50px;
  bottom: 0;
  top: 196%;
  left: 30%;
  animation-name: shake;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  z-index: 22;
}

/*Sjø¸gress*/
.seaWeed {
  position: absolute;
  height: 250px;
  left: 0;
  bottom: 0;
  top: 165%;
  animation-name: shake;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  z-index: 19;
}

/*Animasjon som "shaker" sjÃ¸stjerne og sjÃ¸gress*/
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*Frida og Irma - posisjonering av koraller*/
/*korall bilde mÃ¥tte vÃ¦re 145% fra top for Ã¥ ikke overgÃ¥ viewheight*/
#coralReef {
  position: absolute;
  bottom: 0%;
  top: 145%;
  width: 100%;
  z-index: 21;
}

/*Korall bilde er 168% fra top for Ã¥ ikke overgÃ¥ viewheight*/
#coralReef2 {
  position: absolute;
  bottom: 0;
  top: 167%;
  width: 100%;
  z-index: 18;
}

/*Frida - bobler (Med hjelp av Eirik og Milos)*/
/*Lar bobler spawne i bunn av siden*/
.bubbleWrapper {
  top: 100%;
  bottom: 0;
  min-width: 100vw;
  position: absolute;
  margin: 0;
  z-index: 20;
}

/*Selve boblen*/
.bubbleWrapper div {
  height: 30px;
  width: 30px;
  top: 10%;
  left: 10%;
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgb(225, 225, 225, 0.7);
  /*animation: 4s linear infinite; <-- fjern?*/
  animation-name: bubbleFlow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/*Liten boble*/
div .bubble {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 20%;
  background: rgb(225, 225, 225, 0.5);
}

/*AvgjÃ¸r hvor pÃ¥ siden boblene spawner*/
/*Bruker shorthand for Ã¥ "komprimere koden litt"*/
.bubbleWrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: bubbleFlow 8s linear infinite;
}
.bubbleWrapper div:nth-child(2) {
  top: 40%;
  left: 40%;
  animation: bubbleFlow 10s linear infinite;
}
.bubbleWrapper div:nth-child(3) {
  top: 80%;
  left: 30%;
  animation: bubbleFlow 15s linear infinite;
}
.bubbleWrapper div:nth-child(4) {
  top: 100%;
  left: 50%;
  animation: bubbleFlow 12s linear infinite;
}
.bubbleWrapper div:nth-child(5) {
  top: 30%;
  left: 80%;
  animation: bubbleFlow 10s linear infinite;
}
.bubbleWrapper div:nth-child(6) {
  top: 90%;
  left: 90%;
  animation: bubbleFlow 16s linear infinite;
}
.bubbleWrapper div:nth-child(7) {
  top: 70%;
  left: 85%;
  animation: bubbleFlow 19s linear infinite;
}

.bubbleWrapper div:nth-child(8) {
  top: 100%;
  left: 10%;
  animation: bubbleFlow 12s linear infinite;
}

.bubbleWrapper div:nth-child(9) {
  top: 40%;
  left: 70%;
  animation: bubbleFlow 11s linear infinite;
}
.bubbleWrapper div:nth-child(10) {
  top: 30%;
  left: 90%;
  animation: bubbleFlow 13s linear infinite;
}
.bubbleWrapper div:nth-child(11) {
  top: 70%;
  left: 90%;
  animation: bubbleFlow 10s linear infinite;
}
.bubbleWrapper div:nth-child(12) {
  top: 80%;
  left: 90%;
  animation: bubbleFlow 17s linear infinite;
}
.bubbleWrapper div:nth-child(13) {
  top: 50%;
  left: 20%;
  animation: bubbleFlow 10s linear infinite;
}
.bubbleWrapper div:nth-child(14) {
  top: 30%;
  left: 70%;
  animation: bubbleFlow 11s linear infinite;
}
.bubbleWrapper div:nth-child(15) {
  top: 60%;
  left: 40%;
  animation: bubbleFlow 13s linear infinite;
}

/*Bobleanimasjon med rotasjon*/
/*Fra 160vh istedenfor 200vh, sÃ¥ siden ikke fÃ¥r ekstra scroll*/
@keyframes bubbleFlow {
  0% {
    transform: scale(0.6) translateY(160vh) rotate(50deg);
  }
  100% {
    transform: scale(1.3) translateY(-200vh) rotate(360deg);
  }
}
